
<input type="checkbox" class="toc__trigger" name="toc__trigger" id="toc__trigger">
<label class="toc__trigger-label" for="toc__trigger">
  Menu
  <svg class="toc__trigger-label__icon is-down" width="7px" height="5px" viewBox="0 0 7 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
      <path d="M0,0 L3.5,5 L7,0 L0,0 Z"></path>
    </g>
  </svg>
  <svg class="toc__trigger-label__icon is-up" width="7px" height="5px" viewBox="0 0 7 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
      <path d="M-4.4408921e-16,4.4408921e-16 L3.5,5 L7,4.4408921e-16 L-4.4408921e-16,4.4408921e-16 Z" transform="translate(3.500000, 2.500000) rotate(-180.000000) translate(-3.500000, -2.500000)"></path>
    </g>
  </svg>
</label>

<div class="toc">
  <ul class="toc__list">
    <li class="toc__list__item toc__list__item--primary {% if page.active_page == 'linkkit' %}is-active{% endif %}"><a href="{{ site.baseurl }}/linkkit/">Documentation</a></li>
    <li class="toc__list__item">
      <ul class="toc__list">
        <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#integration-guide">Integration Guide</a></li>
        <li class="toc__list__item">
          <ul class="toc__list">
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#getting-started">Getting Started</a></li>
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#user-interface-guidelines">User Interface Guidelines</a></li>
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#ios-14-compatibility">iOS 14 Compatibility</a></li>
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#host-time">Host Time</a></li>
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#link-api-usage">Link API Usage</a>
              <ul class="toc__list">
                <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#initialization-and-destruction">Initialization and Destruction</a></li>
                <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#active-enabled-and-connected">Active, Enabled, and Connected</a></li>
              </ul>
            </li>
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#app-life-cycle">App Life Cycle</a></li>
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#audiobus">Audiobus</a></li>
            <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#other-sync-technologies">Other Sync Technologies</a></li>
          </ul>
        </li>
        <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#test-plan">Test Plan</a></li>
        <li class="toc__list__item"><a href="{{ site.baseurl }}/linkkit/#promoting-link-integration">Promoting Link Integration</a></li>
      </ul>
    </li>
  </ul>
</div>
